<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.mapper.OrderItemAmountMapper" >
  <resultMap id="BaseResultMap" type="com.yijiupi.entity.OrderItemAmount" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="reduceProductAmount" property="reduceProductAmount" jdbcType="DECIMAL" />
    <result column="reduceCouponAmount" property="reduceCouponAmount" jdbcType="DECIMAL" />
    <result column="reduceBonusAmount" property="reduceBonusAmount" jdbcType="DECIMAL" />
    <result column="reduceOrderAmount" property="reduceOrderAmount" jdbcType="DECIMAL" />
    <result column="Discount" property="discount" jdbcType="DECIMAL" />
    <result column="totalAmount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="payAmount" property="payAmount" jdbcType="DECIMAL" />
    <result column="wineScore" property="wineScore" jdbcType="INTEGER" />
    <result column="deliveryAmount" property="deliveryAmount" jdbcType="DECIMAL" />
    <result column="saleCount" property="saleCount" jdbcType="INTEGER" />
    <result column="minUnitTotalCount" property="minUnitTotalCount" jdbcType="INTEGER" />
    <result column="Source_Count" property="sourceCount" jdbcType="INTEGER" />
    <result column="sysRemark" property="sysRemark" jdbcType="VARCHAR" />
    <result column="lastUpDateTime" property="lastUpDateTime" jdbcType="TIMESTAMP" />
    <result column="selfPickUpReduceAmount" property="selfPickUpReduceAmount" jdbcType="DECIMAL" />
    <result column="reduceRewardBonusAmount" property="reduceRewardBonusAmount" jdbcType="DECIMAL" />
    <result column="reduceCoupOnCodeAmount" property="reduceCoupOnCodeAmount" jdbcType="DECIMAL" />
    <result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="giveBonusAmount" property="giveBonusAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, orderId, reduceProductAmount, reduceCouponAmount, reduceBonusAmount, reduceOrderAmount,
    Discount, totalAmount, payAmount, wineScore, deliveryAmount, saleCount, minUnitTotalCount,
    Source_Count, sysRemark, lastUpDateTime, selfPickUpReduceAmount, reduceRewardBonusAmount,
    reduceCoupOnCodeAmount, lastModifyTime, giveBonusAmount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderitemamount
    where orderId = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderitemamount
    where orderId = #{id,jdbcType=BIGINT}
  </delete>


</mapper>