<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.mapper.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.yijiupi.entity.OrderItem" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="sourceType" property="sourceType" jdbcType="TINYINT" />
    <result column="Source_Id" property="sourceId" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="productType" property="productType" jdbcType="TINYINT" />
    <result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, orderId, Remark, sourceType, Source_Id, createTime, productType, lastModifyTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderitem
    where orderId = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderitem
    where orderId = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yijiupi.entity.OrderItem" >
    insert into orderitem (Id, orderId, Remark,
      sourceType, Source_Id, createTime,
      productType, lastModifyTime)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
      #{sourceType,jdbcType=TINYINT}, #{sourceId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{productType,jdbcType=TINYINT}, #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.yijiupi.entity.OrderItem" >
    update orderitem
    set orderId = #{orderId,jdbcType=BIGINT},
      Remark = #{remark,jdbcType=VARCHAR},
      sourceType = #{sourceType,jdbcType=TINYINT},
      Source_Id = #{sourceId,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      productType = #{productType,jdbcType=TINYINT},
      lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>